html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    height: 100%;
}


li {
    display: inline-block;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ED4C5C;
}

img {
    display: inline-block;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container-fluid {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {

    font-size: 36px;
    line-height: 43px;
    font-weight: 700;
    text-align: center;
    padding: 63px 0 55px;

}

.img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mr-1 {
    margin-right: 28px;
}

.footer-title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-top: 85px;
    margin-bottom: 33px;
}